<div class="col-12 col-md-4 my-2">
  <div class="card p-card--lesson h-100 shadow">
    <article class="card-body">
      <p class="card-header mb-3 p-3 h4 text-white bg-primary bg-gradient">
        Module <%= numero %>
      </p>
      <img
        class="card-img-top"
        src="<%= cardImg %>"
        alt="TODO: add an alt text"
      />
      <div class="card-body">
        <h2 class="card-title h4"><%= cardTitle %></h2>

        <p class="card-text pb-5"><%= cardText %></p>
        <a
          class="btn <% if (disabled) { %>btn-light disabled<% } else { %> btn-secondary shadow-sm <% } %>"
          href="module-<%= numero %>.html"
        >
          Commencer
        </a>
      </div>
    </article>
  </div>
</div>
