<!DOCTYPE html>

<html lang="fr">
  <%- include('parts/head.ejs', {title: "Space School"}) %>

  <body>
    <%- include('parts/layout/header.ejs', {home: true}) %>

    <main class="container">
      <section class="row p-hero-banner text-white bg-light">
        <div class="col-12">
          <img
            class="w-100"
            src="img/earth-lights.jpg"
            alt="La face nocturne de la Terre, vue de l'espace"
          />
        </div>
        <h1 class="col-12 display-5 fw-normal" lang="en">
          Welcome to the Space School!
        </h1>
      </section>

      <section class="row py-4 bg-light bg-gradient">
        <!-- Home card 1 -->
        <%-include('parts/components/card-home.ejs', {cardImg:
        "img/pictos/certificat.png", cardTitle: "Faites vos preuves", cardText:
        "Décrochez votre certificat d'aptitude à vivre en apesanteur !"}) %>

        <!-- Home card 2 -->
        <%-include('parts/components/card-home.ejs', {cardImg:
        "img/pictos/instruction.png", cardTitle: "Apprenez des meilleurs",
        cardText: "Nos instructeurs ont rarement les pieds sur cette Terre !"})
        %>

        <!-- Home card 3 -->
        <%-include('parts/components/card-home.ejs', {cardImg:
        "img/pictos/recherche-emploi.png", cardTitle: "Atteignez les étoiles",
        cardText: "Faites décollez votre carrière pour un autre univers !"}) %>
      </section>
    </main>

    <%- include('parts/layout/footer.ejs') %>

    <!-- Bootstrap 5 JS: -->
    <%- include('parts/bootstrap-js') %>
  </body>
</html>
