<!DOCTYPE html>

<html lang="fr">
  <%- include('parts/head.ejs', {title: "Space School | Leçons"}) %>

  <body>
    <%- include('parts/layout/header.ejs', {home: false}) %>

    <main class="container">
      <section class="row pt-4 pb-5 bg-light">
        <h1>Leçons</h1>

        <!-- Lesson card 1 -->
        <%- include('parts/components/card-lesson.ejs', {cardImg:
          "img/lessons/combinaisons-spatiales.jpg", cardTitle: "S'habiller pour l'espace", cardText:
          "L'indispensable garde-robe du voyageur spatial.", numero: 1, disabled: false}) %>
          
         <!-- Lesson card 2 -->
         <%- include('parts/components/card-lesson.ejs', {cardImg:
          "img/lessons/sortie-espace.jpg", cardTitle: "Se déplacer en apesanteur", cardText:
          "Savoir se mouvoir dans l'espace, avant de s'aventurer hors de la station spatiale.", numero:2, disabled: true}) %>

         <!-- Lesson card 3 -->
        <%- include('parts/components/card-lesson.ejs', {cardImg:
          "img/lessons/vol-parabolique.jpg", cardTitle: "S'exercer en l'absence de gravité", cardText:
          "Des exercices simples et rapides pour maintenir ses os et ses muscles en bonne forme.", numero: 3, disabled: true}) %>
      </section>
    </main>

    <%- include('parts/layout/footer.ejs') %>

    <!-- Bootstrap 5 JS: -->
    <%- include('parts/bootstrap-js') %>
  </body>
</html>
